
	/* 设置容器的样式 */
	#main-container {
	  position: fixed;
		top: 5%;
		left: 10%;
	  width: 80%;
	  height: 90%;
	  margin: 0 auto;
	  background-color: #ccc;
	  outline: 6px solid rgb(62, 16, 75);
	  outline-offset: 0px;
	  z-index: 2;
	  display: flex;
		justify-content: center;
		align-items: center;
	}

	#map {
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  width: 100%;
		  z-index: 3;
	  }